/*CSS Styles should move from general to more specific
*Breaking css into sections using comments can assist in readability
==============================================================================*/

/* Color Palette
=====================================*/
/*
#000009 - 
#fcf7f7 -
#1d0049 -
#defff2 -

#666CCC -
#440094 -

#E55126 -
#E5A227 -
#0C73B8 -
*/




/*Global Styles
===============================*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.projects-button {
  cursor: pointer;
}

a {
    color: #fcf7f7;
}

.nav-bar a {
    padding: 3px;
    margin: 5px 5px 5px 5px;
}

.projects a {
    padding: 10px;
}

nav a:hover, li a:hover {
   color: #000009;
   background: #fcf7f7;
   border: 1px solid #000009;
   border-radius: 3px;
   font-weight: bold;
}

/*
a:visited {
  color: grey;
}
*/


a:active {
    border: 1px dotted #fcf7f7;

}

/*
a:focus {
    outline: ;
}
*/


main p, main li {
    color: #fcf7f7;
}

main h2, main h3 {
    color: #1d0049;
}

p {
    width: 450px;
}


/* Header and Footer
===============================*/
.forBGTemp, footer {
    background: #fcf7f7;
    min-height: 75px;
/*    overflow: auto;*/
}

.header {
  font-family: 'Times New Roman', cursive, serif;
  display: inline-block;
  vertical-align: middle;
/*  margin:  0 10px;*/
  text-align: center;
/*    width: 40%;*/
}

/*
.header h1, .header h2 {
  display: block;
  width: 500px;
  margin:  0 auto;
  text-align: center;
}
*/

/*
.forBGTemp img {
    display: inline-block;
  width: 240px;
  margin:  0 auto;
}
*/

#logo {
  display: inline-block;
/*  float: left;*/
  text-align: center;
/*  margin: 15px 10px;*/
  margin: 15px auto;
  vertical-align: middle;
  width: 240px;
}

footer h2 {
    color: #1d0049;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0.5em;
}

footer a {
/*
    color: #fcf7f7;
    background: #1d0049;
*/
    padding: 10px;
/*    border-radius: 10px;*/
    margin-left: 5px;
    margin-right: 5px;
    padding: 1.1em;
}

footer a:hover {
/*
    color: #1d0049;
    background: #fcf7f7;
    font-weight: bold;
    border: 3px solid #1d0049;
    border-radius: 5px;
*/
    margin-left: 5px;
    margin-right: 5px;
/*    padding: 1.2em;*/
}

footer p {
    margin-top: 20px;
    padding: 1.1em;
}


/* Navigation Bar
===============================*/
.nav-bar {
  background-color: #000009;
  color:#fcf7f7;  /* old white #defff2 */
  text-align: center;
  /*box-shadow: 3px 3px #000;*/
  padding: 0.65em;
  width: 100%;
  margin: 0;
}

.col-xs-1 {
 list-style-type: none;
 background-color: #000009;
 margin: 10px 10px 10px 10px;
 min-width: 90px;
 cursor: pointer;
 padding: 10px, 5px;
}

nav li {
    min-width: 25px;
}


/* Primary Content
===============================*/
main {
  font-family: Helvetica;
  padding: 2em;
  background: #950000;
  /*#BC1324*/
  background-size: contain;
  max-width: 100%;
  padding: 2em;
  min-height: 800px;
}

.body-text {
  color: azure;
}

/*
body {
 
}
*/

/*h1 {
  font-size: 2.5em;
}*/

/* Skillset Menus
===============================*/

.skillset {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*Colors for Skill Boxes*/
.skill-html {
  background-color: #440094; /* previous color E55126 */
}

.skill-js {
  background-color: #440094; /* previous color E5A227 */
}

.skill-jquery {
  background-color: #440094; /* previous color 0C73B8 */
}

.skill-html,
.skill-js,
.skill-jquery {
  width: 15%;
  padding: 2em 4em 3em 3em;
  margin: 1.5em;
  color: whitesmoke;
  border-radius: 25%;
  min-width: 240px;
  max-width: 250px;
  box-shadow: -4px 4px 10px #000009; /*old black #000 */
}

.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
  line-height: 2em;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}

#leadin {
  color: azure;
}