/*CSS Styles should move from general to more specific
*Breaking css into sections using comments can assist in readability
==============================================================================*/

/* Color Palette
=====================================*/
/*
#000009 - 
#fcf7f7 -
#1d0049 -
#defff2 -

#666CCC -
#440094 -

#E55126 -
#E5A227 -
#0C73B8 -
*/




/*Global Styles
===============================*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.projects-button {
  cursor: pointer;
}

a {
    color: #fcf7f7;
}

.projects a {
    padding: 10px;
}


/*
a:visited {
  color: grey;
}
*/


a:active {
    border: 1px dotted #fcf7f7;

}

/*
a:focus {
    outline: ;
}
*/


main p, main li {
    color: #fcf7f7;
}

main h2, main h3 {
    color: #1d0049;
}

p {
    width: 450px;
}


/* Header and Footer
===============================*/
.forBGTemp, footer {
   /* background: #fcf7f7; 
    min-height: 75px;
/*    overflow: auto;*/
}

.header {
  font-family: 'Times New Roman', cursive, serif;
  font-size: 36px;
  color: #ae0006;
/*   flame color:   #e63223*/
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}


#logo {
  display: inline-block;
  text-align: center;
  margin: 15px auto;
  vertical-align: middle;
  width: 240px;
}

footer h2 {
    color: #1d0049;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0.5em;
}

footer a {
/*
    color: #fcf7f7;
    background: #1d0049;
*/
    padding: 10px;
/*    border-radius: 10px;*/
    margin-left: 5px;
    margin-right: 5px;
    padding: 1.1em;
    min-width: 1vw; 
}

footer a:hover {
/*
    color: #1d0049;
    background: #fcf7f7;
    font-weight: bold;
    border: 3px solid #1d0049;
    border-radius: 5px;
*/
    margin-left: 5px;
    margin-right: 5px;
/*    padding: 1.2em;*/
}

footer p {
    margin-top: 20px;
    padding: 1.1em;
}



/* Navigation Bar
===============================*/
.nav-bar {
  width: 100%;
  height: 60px;
  background-color: #000009;
  color:#fcf7f7;  /* old white #defff2 */
  text-align: center;
  margin: 0px;
}

nav li {
    min-width: 25px;
    display: inline-grid;
    float: left;
    grid-template-columns: 10% 10% 10% x;
}

.nav-bar a {
    padding: 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

nav a:hover, li a:hover {
   color: #000009;
   background: #fcf7f7;
   border: 1px solid #000009;
   border-radius: 3px;
   font-weight: bold;
    text-decoration: underline;
}



/* Primary Content
===============================*/
main {
  font-family: Helvetica;
  padding: 2em;
  background: #950000;
  /*#BC1324*/
  background-size: contain;
  width: 100%;
  padding: 2em;
  min-height: 800px;
}

.whole-body {
     min-width: 250px;
     display: grid;
/*    float: right;*/
     grid-template-columns: 25% 75%;    
}

#aboutUs {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


.intro-text {
  color: azure;
  width: 100%;
  padding: 20px;
  text-align: left;
  line-height: 22px;
}

.post-text {
    margin: auto;
    width: 100%;
    text-align: center;
}

#firstPost {
  border-color: #000009;
  border-width: 10px;
  border-style: solid;
  margin: auto;
  border-radius: 5%;
}
